<div class="row">
    <div class="col-sm-3">
        <ul class="nav nav-pills nav-stacked ver-margin-20">
            <li><a ng-click="isCreate = true" href="">Create</a></li>
            <li><a ng-click="isCreate = false" href="">Edit</a></li>
        </ul>
        <div ng-show="!isCreate" class="">
            <span>Select user</span>
            <select class="form-control" ng-options="user as user.login +' - '+ user.name for user in usersList"  ng-change="onUserSelected()" ng-model="selectedUser">
            </select>
        </div>
    </div>
    <div ng-show="isCreate" class="col-sm-5  col-sm-offset-1">
        <form class="login-form form-horizontal">
            <div class="form-group">
                <label class="">Name</label>
                <input class="form-control" type="text" placeholder="Login" ng-model="user.name">
            </div>

            <div class="form-group">
                <label class="">Login</label>
                <input class="form-control" type="text" placeholder="Login" ng-model="user.login">
            </div>

            <div class="form-group">
                <label class="">Email</label>
                <input class="form-control" type="text" placeholder="Login" ng-model="user.email">
            </div>

            <div class="form-group">
                <label class="">Password</label>
                <input class="form-control" type="password" placeholder="Password" ng-model="user.password">
            </div>

            <div class="form-group">
                <label class="">Password confirm</label>
                <input class="form-control" type="password" placeholder="Password" ng-model="user.passwordConfirm">
            </div>

            <button ng-click="onRegister()" type="button" class="btn btn-success login-btn">Sign up</button>
        </form>
    </div>
    <div ng-show="!isCreate && selectedUser"  class="col-sm-5  col-sm-offset-1">
        <form class="login-form form-horizontal">
            <div class="form-group">
                <label class="">Name</label>
                <input class="form-control" type="text" placeholder="Login" ng-model="selectedUser.name">
            </div>

            <div class="form-group">
                <label class="">Login</label>
                <input class="form-control" type="text" placeholder="Login" ng-model="selectedUser.login">
            </div>

            <div class="form-group">
                <label class="">Email</label>
                <input class="form-control" type="text" placeholder="Login" ng-model="selectedUser.email">
            </div>

            <div class="form-group">
                <label class="">Password</label>
                <input class="form-control" type="password" placeholder="Password" ng-model="selectedUser.password">
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-8">
                    <button ng-click="onDeleteClick(selectedUser)" type="button" class="btn btn-danger login-btn">Delete</button>
                </div>
                <div class="col-sm-2 ">
                    <button ng-click="selectedUser.update()" type="button" class="btn btn-success login-btn">Save</button>
                </div>
            </div>

        </form>

    </div>
</div>



