
<div ng-show="isAdmin()" class="row ver-margin-25">
    <div class="col-sm-6">
        <button ng-show="!additionalProject._showAdditionalRow" type="button" class="btn btn-success" ng-click="additionalProject._showAdditionalRow = true ">Add new project</button>
        <div ng-show="additionalProject._showAdditionalRow" class="row">
            <div class="col-sm-6">
                <input class="form-control" type="text" placeholder="Project name" ng-model="additionalProject.name" >
            </div>
            <button type="button" class="btn btn-success" ng-click="onAddNewProjectClick(additionalProject)">Create</button>
            <button type="button" class="btn btn-info" ng-click="additionalProject._showAdditionalRow = false ">Cancel</button>
        </div>
        <div class="ver-margin-15"></div>

    </div>
</div>



<div ng-repeat="(projectKey, project) in userProjects" class="row ver-margin-25 project-wrap" >
    <div class="col-sm-12 ver-margin-15 ">
        <div class="row">
            <div ng-show="!project.project._isEditable"  class="col-sm-6">
                <span>
                    <strong class="text-size-20">{{project.project.name}}</strong>
                </span>
                <span class="col-sm-offset-1"></span>
                <button type="button" ng-show="isAdmin()" class="btn btn-default glyphicon glyphicon-pencil" ng-click="onProjectEditKeyClick(project.project)" ></button>
            </div>

            <div class="col-sm-6" ng-show="project.project._isEditable">
                <div class=" col-sm-6">
                    <input class="form-control " placeholder="Project name" ng-model="project.project.name">
                </div>
                <div class="col-sm-6">
                    <button type="button" class="btn btn-success glyphicon glyphicon-ok" ng-click="onProjectSaveKeyClick(project.project)" ></button>
                    <button type="button" class="btn btn-info glyphicon glyphicon-ban-circle" ng-click="onProjectCancelEditClick(project.project)"></button>
                    <button type="button" class="btn btn-danger glyphicon glyphicon-remove" ng-click="onProjectDeleteKeyClick(project.project, projectKey)" ></button>

                </div>
            </div>

            <div class=" col-sm-6 toggle-project" ng-click="project._isShow = !project._isShow" >
                <span ng-show="project._isShow" class="glyphicon glyphicon-triangle-top"></span>
                <span ng-show="!project._isShow" class="glyphicon glyphicon-triangle-bottom"></span>
            </div>
        </div>
    </div>




    <div class="col-sm-12">
        <table class="table table-striped table-hover" ng-show="project._isShow">
            <thead>
            <tr  class="bg-info" >
                <th style="width:5%">#</th>
                <th style="width:30%">Description</th>
                <th style="width:25%">Password</th>
                <th style="width:10%">Edit</th>
                <th style="width:5%">Delete</th>
            </tr>
            </thead>
            <tbody class="">
            <tr ng-repeat="(key, value) in project.passwords">
                <td>{{key + 1}}</td>
                <td>
                    <span ng-show="!value._isEditable">{{value.description}}</span>
                    <span ng-show="value._isEditable">
                        <input class="form-control" type="text" placeholder="New description" ng-model="value.description" >
                    </span>
                </td>
                <td>
                    <span ng-show="!value._isEditable" ng-click="onShowPasswordClick(value, $event)" class="pointer-cursor">
                        {{value._passwordToShow}}
                    </span>
                    <span ng-show="value._isEditable">
                        <span class="col-sm-9">
                            <input class="form-control " ng-attr-type="{{value._passwordFieldType}}" placeholder="New password" ng-model="value.password">
                        </span>
                        <span class="col-sm-3">
                            <button type="button" class="btn btn-warning " ng-click="onChangePasswordFieldTypeClick(value)" ng-model="value._changePasswordButtonTypeText">
                                {{value._changePasswordButtonTypeText}}
                            </button>
                        </span>


                    </span>
                </td>
                <td >
                    <div ng-show="project.can_edit">
                        <button ng-show="!value._isEditable" type="button" class="btn btn-default glyphicon glyphicon-pencil" ng-click="onEditKeyClick(value)" ></button>
                        <button ng-show="value._isEditable" type="button" class="btn btn-success glyphicon glyphicon-ok" ng-click="onSaveKeyClick(value)"></button>
                        <button ng-show="value._isEditable" type="button" class="btn btn-info glyphicon glyphicon-ban-circle" ng-click="onCancelEditClick(value)"></button>
                    </div>
                </td>
                <td>
                    <div ng-show="project.can_edit">
                        <button type="button" class="btn btn-danger glyphicon glyphicon-remove"  ng-click="onKeyDeleteClick(value, project, key)"></button>
                    </div>
                </td>
            </tr>

            <tr ng-show="project.showAdditionalRow" class="success">
                <td colspan="2">
                    <span >
                        <input class="form-control" type="text" placeholder="New description" ng-model="project.additionalKey.description" >
                    </span>
                </td>
                <td colspan="2">
                        <span class="col-sm-9">
                            <input class="form-control " ng-attr-type="{{project.additionalKey._passwordFieldType}}" placeholder="New password" ng-model="project.additionalKey.password">
                        </span>
                        <span class="col-sm-3">
                            <button type="button" class="btn btn-warning " ng-click="onChangePasswordFieldTypeClick(project.additionalKey)" ng-model="project.additionalKey._changePasswordButtonTypeText">
                                {{project.additionalKey._changePasswordButtonTypeText}}
                            </button>
                        </span>

                </td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="onAddNewPasswordClick(project.additionalKey, project)">Save</button>
                </td>
            </tr>

            <tr class="">
                <td colspan="5">
                    <button ng-show="!project.showAdditionalRow" type="button" class="btn btn-success" ng-click="project.showAdditionalRow =  true ">Add new password</button>
                    <button ng-show="project.showAdditionalRow" type="button" class="btn btn-info" ng-click="project.showAdditionalRow = false ">Cancel</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




