<form class="login-form form-horizontal" ng-submit="onLogin()">
    <div class="form-group">
        <label class="">Login</label>
        <input class="form-control" type="text" placeholder="Login" ng-model="login">
    </div>

    <div class="form-group">
        <label class="">Password</label>
        <input class="form-control" type="password" placeholder="Password" ng-model="password">
    </div>

    <button ng-click="onLogin()" type="button" class="btn btn-success login-btn">Log in</button>
</form>