<div class="row">

    <div class="col-sm-4">
        <span>Select user</span>
        <select class="form-control" ng-options="user as user.login for user in usersList"  ng-change="onUserSelected()" ng-model="selectedUser">
        </select>
    </div>
    <div ng-show="selectedUser != null" class="col-sm-8">
        <table class="table table-striped">
            <thead>
            <tr class="bg-info">
                <th>Project name</th>
                <th>View</th>
                <th>Edit</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="project in projectsList">
                <td>{{project.name}}</td>
                <td>
                    <label>
                        <input type="checkbox" ng-model="project.userProject.can_view" ng-true-value="1" ng-false-value="0" value="">
                    </label>
                </td>
                <td>
                    <label>
                        <input type="checkbox" ng-model="project.userProject.can_edit" ng-true-value="1" ng-false-value="0" value="">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-success " ng-click="onSavePermissionsClick()"> Save</button>

    </div>


</div>