<div class="row">
    <div class="col-sm-4">
        <div>
            <span>Select model</span>
            <select class="form-control" ng-options="model as model for model in modelsList"  ng-change="onModelSelected()" ng-model="selectedModel">
            </select>
        </div>
        <div>
            <span>Select method</span>
            <select class="form-control" ng-options="method as method for method in methodsList" ng-change="onMethodSelected"  ng-model="selectedMethod">
            </select>
        </div>

    </div>
    <div class="col-sm-8" ng-if="selectedModel">

        <div ng-repeat="attribute in selectedModel.publicAttributes" class="">
            <label>{{attribute}}</label>
            <input class="form-control " placeholder="" ng-model="selectedModel[attribute]">
        </div>
        <button type="button" class="btn btn-success glyphicon glyphicon-ok" ng-click="onSubmitModel()" >Submit model</button>

    </div>

</div>