/* common BEGIN */
@import url(font-awesome.min.css);

body {
    margin: 0;
    padding: 0;
    outline: none;
    color: #000;
    font-family: sans-serif;
    font-size: 13px;
    background: #fff;
}

.clearfix {
    clear: both;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

a {
    text-decoration: none;
    color: #000;

    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;

}

a:hover {
    text-decoration: none;

    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}


a:visited {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* BUTTON begin*/

.gr-btn {
    color: #FFF;
    background: #35B33C;
    padding: 12px 29px;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    //margin-top: 25px;
}

.gr-btn:hover {
    background: #DA5858;
}

/* registration form BEGIN */

.registration-form-wrap.active .form,
.registration-form-wrap.non-active .registration-success {
    display: block;
}

.registration-form-wrap.non-active .form,
.registration-form-wrap.active .registration-success {
    /*display: none;*/
    height: 0px;
    -moz-transition: 0.7s all cubic-bezier(0.18, 0.63, 0.46, 1.04);
    -o-transition: 0.7s all cubic-bezier(0.18, 0.63, 0.46, 1.04);
    -webkit-transition: 0.7s all cubic-bezier(0.18, 0.63, 0.46, 1.04);
    transition: 0.7s all cubic-bezier(0.18, 0.63, 0.46, 1.04);
}

/*.registration-form-wrap {*/
    /*position: absolute;*/
    /*top: 200px;*/
    /*width:100%;*/
    /*background: rgba(255,255,255,0.3);*/
/*}*/

.registration-form-wrap  {
    overflow: hidden;
    width: 400px;
    height: 540px;
    margin: 0 auto;
    padding: 10px 15px;
    background: rgba(255,255,255,0.3);
    color: black;
}

.registration-form-wrap .form {
    overflow: hidden;
    height: 530px;
}

.registration-form-wrap .form .head {
    text-align:center;
    margin: 5px 0 30px;
    font-size: 18px;
}

.registration-form-wrap .form .row {

}

.registration-form-wrap .registration-success .reg-ended {
    margin: 200px auto 0;
    font-size: 27px;
    text-align: center;
}

.registration-form-wrap .form .register-submit {
    float: right;
}

/* Login form BEGIN */

.login-form-wrap {
    overflow: hidden;
    width: 350px;
    height: 280px;
    margin: 0 auto;
    padding: 10px 15px;
    background: rgba(255,255,255,0.3);
    color: black;
}

.login-form-wrap .head {
    text-align:center;
    margin: 5px 0 30px;
    font-size: 18px;
}

.login-form-wrap .form .login-submit {
    float: right;
}


/* inputs BEGIN */

.inputs .row {
    margin-bottom: 30px;
}

.inputs .row .input-block {
    position: relative;
}

.inputs .row .input-block .errorMessage {
    position: absolute;
    right: 20px;
    top: 2px;
    color: #FE1A1A;
    font-size: 12px;
}

.inputs input[type="text"], .inputs input[type="password"] {
    display: block;
    width: 100%;
    margin: 0;
    outline: none;
    font-size: 18px;
    padding: 13px 18px;
    line-height: 24px;
    color: #727272;
    background: #FFF;
    border: 1px black solid;
    border-radius: 0px;
}

.inputs input {
    outline: none;
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}

.inputs input:hover {
    -moz-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
}


/* common END */




/* header BEGIN */

header {
    height: 80px;
    padding: 25px 0;
}

header .hat {

}

header .hat .logo {
    float: left;
}

header .hat nav {
    float: right;
}

header .hat nav ul.menu {
    margin: 25px 0 0 20px;

}

header .hat nav ul.menu li {
    float: left;
    margin-right: 40px;
}

header .hat nav ul.menu li:last-child {
    margin-right: 0;
}

header .hat nav ul.menu li.active a {
    color: #6fc45b;
}

header .hat nav ul.menu li a {
    font-size: 20px;
}
/* header END */


/* main BEGIN */

.promo {
    background-image: url(../images/promo.jpg);
    background-size: cover;
    background-position: center;
    color: #FFF;
    height: 500px;
    text-align: center;
}

.promo .promo-text {

}

.promo .promo-text .text-1 {
    display: block;
    padding-top: 130px;
    font-size: 48px;
}

.promo .promo-text .text-2 {
    display: block;
    padding-top: 30px;
    font-size: 24px;
}

.promo .btn-begin {
    margin-top: 70px;
}



/* main END */







