.platform-page-wrap {
    width: 1200px;
    height: 800px;
    margin: 0 auto;
}


.right-section-wrap {
    width: 1100px;
    float: left;
}

.left-menu {
    float: left;
    width: 100px;
    height: 100%;
    background: green;
    opacity: 0.3;
}


.top-menu {


    height: 150px;
    background: red;
    opacity: 0.3;
}

.platform {

    height: 650px;
    background: blue;
    //opacity: 0.3;
}

/* section top-menu BEGIN  */

.top-menu .bets {
    padding: 10px 0 0;
}

.top-menu .bets .bet {
    float: left;
    width: 150px;
    height: 100px;
    padding: 15px 10px;
    margin: 0 10px;
    background-color: rgba(255,255,0,0.3);
}

/* section platform BEGIN*/

.platform .chart {
    float: left;
    width: 900px;
    height: 100%;
    //opacity: 0.5;
    background-color: cyan;

}

.platform .platform-menu {
    float: right;

    width: 200px;
    height: 100%;
}

.platform .platform-menu .button {
    width: 160px;
    height: 100px;
    text-align: center;
    padding: 25px 10px;
    margin: 10px;
    cursor: pointer;
    color: black;
    background-color: rgba(255,0,255,0.3);
}
