/* Common styles BEGIN */

body {
    width: 100%;

}

.main-wrap {
    width: 1000px;
    margin: 0 auto;
}

.text-size-12 {
    font-size: 12px;
}

.text-size-14 {
    font-size: 14px;
}

.text-size-16 {
    font-size: 16px;
}

.text-size-20 {
    font-size: 20px;
}

.text-size-24 {
    font-size: 24px;
}

.ver-margin-25 {
    margin-bottom: 25px;
}
.ver-margin-20 {
    margin-bottom: 20px;
}
.ver-margin-15 {
    margin-bottom: 15px;
}

input[type="checkbox"] {
    width: 19px;
    height: 19px;
}

.pointer-cursor {
    cursor:pointer;
}

/* Common styles END */

/* Main layout BEGIN */

nav ul {
    text-align: center;
}

/* Main layout END */

/* project page BEGIN*/

.project-wrap {
    border-bottom: 1px gray solid;
    padding: 5px 0;
}

.toggle-project {
    background-color: #f5f5f5;
    line-height: 32px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}

.toggle-project:hover {
    background-color: #f0f0f0;
}


/* project page END*/

/* Login form BEFIN */

.login-form {
    /*width: 500px;*/
    /*padding: 20px;*/
    /*margin: 0 auto;*/
    /*text-align: left;*/
}

.login-form .login-btn {
    float: right;
}

/* Login form END */

.bottom-alert {
    width: inherit;
    position: fixed;
    bottom:0;
}